.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgb(0,0,0,0.2 );
    margin-top: 30px;
}
h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.input-container{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
input{
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.btn-add{
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.remider-list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.remider-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
p{
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
    color: #0000008e;
}
.reminder{
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    margin-right: 10px;
 
}

.btn-delete{
    padding: 10px 42px;
    font-size: 18px;
    color: #fff;
    background-color: #dc3545;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.2s ease-in-out;
}